{% extends "main.html" %}
{% block content %}


<!--contact-->
<div class="contact">
    <div class="container">
        <h3>Login</h3>


        <div class="col-md-6 contact-right">
            <form>
               <input type="text"  placeholder="Name" required="">
               <input type="text" placeholder="Email" required="">
               <label class="hvr-sweep-to-right">
               <input type="submit" value="Submit">
               </label>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
{% endblock %}
