{% extends "main.html" %}
{% block content %}


<!--contact-->
<div class="contact">
    <div class="container">
        <h3>Contact</h3>
     <div class="contact-top">
        <div class="col-md-6 contact-top1">
          <h4 > Info</h4>
          <p class="text-contact">Lorem Ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus</p>
          <div class="contact-address">
            <div class="col-md-6 contact-address1">
                 <h5>Address</h5>
                 <p><b>Tweet Analysis</b></p>
                 <p>25478 Rongai,Kenya</p>
                 <p>Lorem Ipsum</p>
            </div>
            <div class="col-md-6 contact-address1">
                  <h5>Email Address </h5>
                 <p>General :<a>tweet@analysis.com</a></p>
                 <p>Office :<a>analysis@tweet.com</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="contact-address">
            <div class="col-md-6 contact-address1">
                 <h5 >Phone </h5>
                 <p>Landline : 0700000000</p>
                 <p>Mobile : 070000000</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6 contact-right">

            <form>
               <input type="text"  placeholder="Name" required="">
               <input type="text" placeholder="Email" required="">
               <input type="text" placeholder="Subject" required="">
               <textarea  placeholder="Message" requried=""></textarea>
               <label class="hvr-sweep-to-right">
               <input type="submit" value="Submit">
               </label>
            </form>
        </div>
        <div class="clearfix"> </div>
</div>
    </div>
{% endblock %}
