{% extends "main.html" %}
{% block content %}



<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('api_v1.index') }}">TweetAnalysis</a>
        </div>
           <ul class="nav navbar-nav">
            {% if email %}
            <li class="dropdown" data-toggle="dropdown"><a>
            <span class="caret"></span> Administrator</a></li>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('api_v1.config') }}">Configuration</a></li>
                <li><a href="{{ url_for('api_v1.analysis') }}">Start Analysis</a></li>
                <li><a href="{{ url_for('api_v1.details') }}">Review Analysis</a></li>
            </ul>
            {% endif %}
            <li><a href="{{ url_for('api_v1.about') }}">About</a></li>
            <li><a href="{{ url_for('api_v1.contact') }}">Contact</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if email %}
            <li><a>{{ email }}</a></li>
            <li><a onclick="logout.submit()"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            <form id="logout" action="{{ url_for('api_v1.logout') }}" method="post"></form>
            {% else %}
            <li><a href="{{ url_for('api_v1.addusers') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{{ url_for('api_v1.users') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<!--contact-->
<div class="contact">
    <div class="container">
        <h3>Login</h3>


        <div class="col-md-6 contact-right">
            <form action="{{ url_for('api_v1.users') }}" method="post">
               <input type="email"  name="email" placeholder="Email" required>
               <input type="password" name="pword" placeholder="Password" required>
               <label class="hvr-sweep-to-right">
               <input type="submit" value="Submit">
               </label>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
{% endblock %}
