<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TwitterAnalysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  css -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static', filename='css/layout.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--  Scripts-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>


  </head>
  <body>

  {% block content %}{% endblock %}





    <!-- Footer -->
    <footer class="page-footer font-small navbar-inverse" >
      <div class="container text-center text-md-left mt-5">




              <!-- Grid column -->
          <div class="col-md-4">


            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fas fa-home mr-3"></i> Rongai Kenya</p>
            <p>
              <i class="fas fa-envelope mr-3"></i>bmugenya26@gmail.com</p>
            <p>
              <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p>
              <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Modules</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

            <p>
              <a href="#!">User Module</a>
            </p>
            <p>
              <a href="#!">Configuration Module</a>
            </p>
                 <p>
              <a href="#!">Analysis Module</a>
            </p>



          </div>

          <!-- Grid column -->


    <!-- Grid column -->
          <div class="col-md-4">
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Company name</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
              consectetur
              adipisicing elit.</p>

          </div>
          <!-- Grid column -->


        </div>
        <!-- Grid row -->


      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a>ANU Programming Competition</a>
      </div>
      <!-- Copyright -->

    </footer>
    </body>

    </html>



